<!-- IMPORT MODULE DETAIL -->
<!-- 

	Module : 	ContactEdit
	
	Links : 	ContactDetail
					/contacts/{id}/detail
.				
	
	Nesteds : 	
				
-->
<!-- /IMPORT MODULE DETAIL -->
<div ng-controller="ContactEditController">
	
	<h1>
		<span>ContactEdit</span>
		{{obj.name}}
	</h1>
	
	
	
	<div class="well">
		<form name="skaffolderForm" class="container-fluid mt-20">
			<div class="row">
				<div class="col-sm-3">
					<label for="email">Email</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.email.$invalid }">
					<input  type="text" ng-model="obj.email"  class="form-control" name="email" id="email" >
		 			
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="name">Name</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.name.$invalid }">
					<input  type="text" ng-model="obj.name"  class="form-control" name="name" id="name" required>
		 			<p ng-show="skaffolderForm.name.$invalid" class="help-block">Value is required</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="note">Note</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.note.$invalid }">
					<input  type="text" ng-model="obj.note"  class="form-control" name="note" id="note" >
		 			
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="phone">Phone</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.phone.$invalid }">
					<input  type="text" ng-model="obj.phone"  class="form-control" name="phone" id="phone" >
		 			
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<label for="surname">Surname</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.surname.$invalid }">
					<input  type="text" ng-model="obj.surname"  class="form-control" name="surname" id="surname" >
		 			
				</div>
			</div>
			
			
			<h2>Relations</h2>
			<div class="row">
				<div class="col-sm-3">
					<label for="company">
						company
					</label>
				</div>
				<div class="col-sm-9 form-group" ng-class="{ 'has-error' : skaffolderForm.company.$invalid }">
					<select ng-model="obj.company" class="form-control" name="company" id="company"  >
						<option ng-repeat="item in list_Company"  value="{{item._id}}">{{item._id}}</option>
					</select>
		 			
				</div>
			</div>
			
			
			<h2>External Relations</h2>
			
	
			<div class="row mt-40">
				<button ng-if="obj._id" class="btn btn-danger" data-toggle="modal" data-target="#removeModal">
					<i class="glyphicon glyphicon-trash"></i> Remove
				</button>
				
				<button type="submit" class="btn btn-primary pull-right" ng-disabled="skaffolderForm.$invalid" ng-click="save()">Save</button>
			    <button class="btn btn-link pull-right" ng-link="/home/">Back to List</button>
			</div>
			<div class="clearfix"></div>
		</form>
		
	</div>
	
	
	<!-- MODAL REMOVE -->
	<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Delete item</h4>
				</div>
				<div class="modal-body">
					Do you want confirm delete? 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">NO</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove()">YES</button>
				</div>
			</div>
		</div>
	</div>
</div>